
 body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    background-color: #1c1b1b !important;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  .btn-add{
      margin-left:30px;
      margin-top: 20px;
  }
  .blue-bg {
    background-color:#0d4c82 ;
}
.heading-wrapper{
	padding: 5px;
	width: fit-content;
	border-radius: 0px;
}

.white-txt{
	color: #fff;
}
.blue-txt{
  color:#0d4c82 ;
}
.yellow-txt{
  color:#F7941D;
 
}



.table td, .table th {
  padding: 0.1rem !important;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  
 
}
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  a:hover, a:focus {
    color: #0d4c82;
    text-decoration: none;
    outline: none;
  }

  .table td, .table th {
    padding: .2rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  