/*!
 * Start Bootstrap - Small Business (https://startbootstrap.com/template-overviews/small-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-small-business/blob/master/LICENSE)
 */
body {
  padding-top: 0px;
  border: 1px solid transparent;
}
.simple-headeng{
  padding: 4px 10px;
  background: #212832;
  color: #fff;
  display: block;
  margin-bottom: 6px;
}
.card-info{
  padding:10px !important;
  font-size: 18px;
  
}
.footer-text{
  color: #fff;
}
.jumbo {
  padding-top: 150px;
  height: 200vh;
}
.line{
  position: absolute;
  content: "";
  /* bottom: -30px; */
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 1px;
  background-color: #0c2e60;
}

.line2{
  position: absolute;
  content: "";
  /* bottom: -30px; */
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 1px;
  background-color: #0c2e60;
}

.ticket-feature {
  overflow: hidden;
}

.ticket-feature .block {
  position: relative;
  padding-top: 150px;
  padding-bottom: 110px;
}

.ticket-feature .block .section-title, .ticket-feature .block a {
  position: relative;
}

.ticket-feature .block .section-title h3 {
  font-weight: 500;
}

.ticket-feature .block .timer {
  position: relative;
  margin-top: 60px;
  margin-bottom: 35px;
}

.ticket-feature .block .timer .syotimer-cell {
  margin-right: 25px;
  margin-bottom: 33px;
}

@media (max-width: 575px) {
  .ticket-feature .block .timer .syotimer-cell {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

.ticket-feature .block .timer .syotimer-cell .syotimer-cell__value {
  min-width: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  height: 80px;
  width: 80px;
  line-height: 100px;
  text-align: center;
  position: relative;
  font-weight: bold;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.35);
  background-clip: content-box;
  background: rgba(255, 255, 255, 0.26);
  margin-bottom: 8px;
  border-radius: 100%;
}

@media (max-width: 575px) {
  .ticket-feature .block .timer .syotimer-cell .syotimer-cell__value {
    font-size: 30px;
    height: 80px;
    width: 80px;
    line-height: 80px;
  }
}

.ticket-feature .block .timer .syotimer-cell .syotimer-cell__unit {
  text-align: center;
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.ticket-feature .block-2 {
  position: relative;
  padding: 150px 10%;
  height: 100%;
  background: #0d4c82;
}

@media (max-width: 575px) {
  .ticket-feature .block-2 {
    padding: 50px 20px;
  }
}

.ticket-feature .block-2 [class*=col-]:first-child {
  border-right: 1px solid #fc9552;
  border-bottom: 1px solid #fc9552;
}

.ticket-feature .block-2 [class*=col-]:nth-child(2) {
  border-bottom: 1px solid #fc9552;
}

.ticket-feature .block-2 [class*=col-]:nth-child(3) {
  border-right: 1px solid #fc9552;
}

.ticket-feature .block-2 .service-item {
  padding: 30px;
  text-align: center;
}

.ticket-feature .block-2 .service-item i, .ticket-feature .block-2 .service-item h5 {
  color: #fff;
}

.ticket-feature .block-2 .service-item i {
  font-size: 3.25rem;
  margin-bottom: 20px;
}

.ticket-feature .block-2 .service-item h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .ticket-feature .block-2 .service-item h5 {
    font-size: 1rem;
  }
}

.ticket-feature .block-2:after {
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1000px 300px;
  border-color: transparent transparent #0d4c82 transparent;
}

@media (max-width: 1200px) {
  .ticket-feature .block-2:after {
    content: none;
  }
}

.main-nav .navbar-nav .nav-item {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  text-align: center;
  color: #222222;
  padding-left: 8px;
  padding-right: 20px;
  font-size: 1.06rem;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1352px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    font-size: 0.75rem;
    padding-left: 5px;
    padding-right: 10px;
  }
}

.main-nav .navbar-nav .nav-item .nav-link span {
  color: #222222;
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 10px;
  }
}

li:active{
  border-bottom: solid 1px #FFF;
}

li:hover{
  border-bottom: solid 1px #FFF;
}
/* 
a{
  color: #FFF !important;
} */

.main-nav .navbar-nav .nav-item.active .nav-link {
  color: #0d4c82;
}

.main-nav .dropdown-slide {
  position: static;
}


/*------------------------------------------------------ */
/* Start Feature Section                              */
/*------------------------------------------------------ */


.services-section {
  padding-top: 80px;
  padding-bottom: 20px;
}
.feature-section {
  padding-top: 100px;
}

.feature, .feature-2, .feature-3 {
  padding-bottom: 80px;
}

.feature, .feature-3 {
  text-align: center;
}
.feature h4,
.feature-3 h4 {
  font-size: 15px;
  color: #666;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}

.feature-2 h4{
  font-size: 15px;
  color: #666;
  padding-bottom: 10px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}

.feature p, 
.feature-2 p,
.feature-3 p {
  color: #444;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.feature i,
.feature-3 i {
  font-size:2.5em;
  width: 80px;
  height: 80px;
 padding:25px;
  margin-bottom: 10px;
 position: relative;
}

.feature i {
  color:#fff;
box-shadow: 0 0 0 30px transparent;
-webkit-transform: translate3d(2, 2, 2);
-moz-transform: translate3d(2, 2, 2);
-o-transform: translate3d(2, 2, 2);
transform: translate3d(2, 2, 2);
-webkit-transition: box-shadow .6s ease-in-out;
-moz-transition: box-shadow .6s ease-in-out;
-o-transition: box-shadow .6s ease-in-out;
transition: box-shadow .6s ease-in-out;
}
.no-touch .feature:hover i,
.no-touch .feature:active i,
.no-touch .feature:focus i {		
  
  -webkit-transition: box-shadow .4s ease-in-out;
  -moz-transition: box-shadow .4s ease-in-out;
  -o-transition: box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out;
}

.feature-3 i {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.feature-3:hover .border {
  margin: 0 35%;
}

.feature-2 i {
 font-size:2.5em;
  color: #fff;
  width: 70px;
  height: 70px;
 padding:20px;
 position: relative;
  
}

.feature-2 .media-body {
  margin-left: 25px !important;
}

.feature-2 .border {
  margin-top: 20px;
  margin-left: 49.999%;
  margin-right: 49.999%;
border-color: #fff;
}

.feature-2:hover .border {
  margin-left: 0%;
  margin-right: 0%;
}


/**************** service_part css start ****************/
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part {
  padding-top: 65px;
}

/* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_text h2 {
  font-size: 42px;
  line-height: 1.222;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    margin-top: 0px;
    font-size: 35px;
  }
}

/* line 32, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_text p {
  line-height: 1.8;
}

/* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_text .btn_1 {
  margin-top: 45px;
}

@media (max-width: 576px) {
  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

/* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part {
  padding: 50px 20px 35px;
  border: 1px solid #f0f4f6;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  min-height: 400px !important;
  max-height: 400px !important;
  /* background-color: #FFF; */
}
.btn_1, .btn_2:hover, .main_menu .navbar-toggler:after, .banner_part .banner_text .btn_1, .feature_part .single_feature:hover span {
  background-image: linear-gradient(to left, #0c2e60 0%, #000 51%, #0c2e60 100%);
}
.btn_1 {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_1:hover {
  color: #fff !important;
  background-position: right center;
  box-shadow: 0px 10px 30px 0px rgba(193, 34, 10, 0.2);
}

@media (max-width: 576px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

/* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_2 {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #0c2e60;
  color: #0c2e60;
  font-size: 14px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  font-size: 15px;
  font-weight: 500;
}

/* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_2:hover {
  color: #fff !important;
  background-position: right center;
  border: 1px solid transparent;
}

@media (max-width: 576px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}


@media (max-width: 576px) {
  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    padding: 25px 10px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    padding: 30px 15px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    padding: 30px 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    margin-top: 25px;
  }
}

/* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part span {
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  background-color: #f0f4f6;
  display: inline-block;
  line-height: 80px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 576px) {
  /* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part span {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part span {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part span {
    margin-bottom: 35px;
  }
}

/* line 110, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part span i {
  color: #0c2e60;
  font-size: 24px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

/* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  /* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part h4 {
    margin-bottom: 15px;
  }
}

/* line 137, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part p {
  color: #7f7f7f;
  line-height: 1.8;
  font-size: 15px;
}

/* line 145, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature:hover .single_feature_part {
  border: 1px solid #0d4c82;
}

/* line 148, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature:hover span {
  background-size: 200% auto;
}

/* line 152, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature:hover span i {
  color: #fff;
}

/* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.single_feature_padding {
  padding-top: 140px;
}

@media (max-width: 576px) {
  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}
.main-nav .dropdown-slide .open > a, .main-nav .dropdown-slide .open > a:focus, .main-nav .dropdown-slide .open > a:hover {
  background: transparent;
}

.main-nav .dropdown-slide.full-width .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
}
.widget-chart.text-left {
  flex-direction: row;
  align-items: center;
}
.widget-chart {
  text-align: center;
  padding: 1rem;
  position: relative;
}
.card {
  transition: all .2s;
}
.bg-transparent {
  background: transparent !important;
}
.no-shadow {
  box-shadow: 0 0 0 transparent !important;
}
.rm-border {
  border-width: 0 !important;
}
.text-left {
  text-align: left !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
.main-nav .dropdown-slide:hover .dropdown-menu {
  border-top: 3px solid #0d4c82;
  display: none;
  opacity: 1;
  display: block;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  color: #777;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.icon-wrapper .icon-wrapper-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
  text-align: left !important;
  box-sizing: border-box;
}

.main-nav .dropdown-slide .dropdown-menu {
  min-width: 220px;
  margin-top: 0;
  border-radius: 0;
  opacity: 1;
  visibility: visible;
  position: absolute;
  padding: 5px 15px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -webkit-transition: .3s all;
  transition: .3s all;
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item {
  font-size: 15px;
  padding: 10px 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: #0d4c82;
}

@media (max-width: 991px) {
  .main-nav .dropdown-slide .dropdown-menu {
    -webkit-transform: none;
            transform: none;
    left: auto;
    position: relative;
    text-align: center;
    opacity: 1;
    visibility: visible;
  }
}

.widget-numbers {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  line-height: 1;
  margin: 1rem auto;
}


.card-button{
  margin-left:10px !important;
  margin-bottom:20px ;
}

.card{
  border-color: transparent !important;
  border-radius: 30px;
}
/* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_learning.scss */
.learning_part .learning_member_text h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 38px;
  position: relative;
  margin-top: 19px;
}

@media (max-width: 576px) {
  /* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_learning.scss */
  .learning_part .learning_member_text h2 {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 35px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_learning.scss */
  .learning_part .learning_member_text h2 {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 35px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_learning.scss */
  .learning_part .learning_member_text h2 {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 35px;
    margin-top: 20px;
  }
}
/* Footer
================================================== */


/*- Footer common */

.footer {
  background-color: #0d0d0d;
  color: #999;
}


.footer-main {
  padding: 80px 0 60px;
}

.footer .widget-title {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  margin: 0 0 30px;
  padding-left: 15px;
  text-transform: uppercase;
  color: #fff;
  border-left: 3px solid #ffb600;
}




/* Footer about us */

.footer-logo {
  margin-bottom: 25px;
}


/* Footer social */

.footer-social {
  margin-top: 15px;
}

.footer-social .widget-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social ul li {
  margin: 0 10px 0 0;
  display: inline-block;
}

.footer-social ul li a i {
  display: block;
  font-size: 18px;
  color: #999;
  background: none;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.footer-social ul li a i:hover {
  color: #fff;
}




/* Links */

.footer-widget ul.list-arrow li {
  border-bottom: 1px solid rgba(255, 255, 255, .07);
  padding: 8px 0;
}

.footer-widget ul.list-arrow li:last-child {
  border-bottom: 0;
}

.footer-widget ul.list-arrow li a,
.footer-widget ul.list-arrow li:before {
  color: #747474;
}

.footer-widget ul.list-arrow li:hover a,
.footer-widget ul.list-arrow li:hover {
  color: #ffb600;
}

.working-hours {
  padding-right: 10px;
}

.working-hours .text-right {
  float: right;
}


/*-- Copyright --*/

.copyright {
  background: #ffb600;
  color: #111;
  padding: 25px 0;
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 12px;
}

.footer-menu {
  float: right;
}

.footer-menu ul li {
  display: inline-block;
  line-height: 12px;
  padding-left: 15px;
}

.footer-menu ul.nav li a {
  background: none;
  color: #111;
  padding: 0;
}

.footer-menu ul li a:hover {
  color: #fff;
}

#back-to-top {
  right: 40px;
  top: auto;
  z-index: 10;
  -webkit-backface-visibility: hidden;
}

#back-to-top.affix {
  bottom: 20px;
}

#back-to-top .btn.btn-primary {
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  color: #ffb600;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
}

#back-to-top .btn.btn-primary:hover {
  color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_learning.scss */
  .learning_part .learning_member_text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 40px;
  }
}


.centered-content.full-width {
  width: 100%;
}

.centered-content.full-width .form-basic-field-group {
  width: 100%;
}

.single_feature {
  z-index: 9;
  border-collapse: collapse;
  min-height: 440px !important;
  max-height: 440px !important;
  
}

.centered-content {
  /* display: table; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
a .service_box:hover {
  text-decoration: none;
}
.service-icon{
  width: 60% !important;
  height: 40% !important;
  object-fit: contain !important;
}
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area {
  background-color: #f7f7f7;
  padding: 100px 0px 20px;
}

@media (max-width: 991px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area {
    padding: 70px 0px 30px;
  }
}

/* line 8, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .form-control {
  background-color: transparent;
}

/* line 11, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .form-group {
  margin-top: 25px;
}

@media (max-width: 991px) {
  /* line 14, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget {
    margin-bottom: 30px;
  }
}

/* line 19, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget p {
  font-size: 14px;
  line-height: 1.8;
}

/* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget h4 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 1024px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget h4 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px;
  }
}

/* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li {
  margin-bottom: 10px;
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li a {
  color: #555555;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
}

/* line 42, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li a:hover {
  color: #ff663b;
}

/* line 46, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget ul li:last-child {
  margin-bottom: 0px;
}

/* line 51, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget .form-wrap {
  margin-top: 25px;
}

/* line 54, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget input {
  height: 40px;
  border: none;
  width: 67% !important;
  font-weight: 400;
  padding-left: 20px;
  border-radius: 0;
  font-size: 13px;
  color: #999999;
  border: 0px solid transparent;
  font-family: "Roboto", sans-serif;
}

/* line 65, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget input:focus {
  outline: none;
  box-shadow: none;
}

/* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget .click-btn {
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 20px;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 0;
}

/* line 83, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .single-footer-widget .click-btn:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 375px) {
  /* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn {
    margin-top: 10px;
  }
}

@media (min-width: 400px) {
  /* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn {
    left: -50px;
  }
}

/* line 98, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_1 img {
  margin-bottom: 35px;
}

/* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_1 p {
  margin-bottom: 15px;
}

/* line 106, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_2 .social_icon {
  margin-top: 27px;
}

/* line 108, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_2 .social_icon a {
  color: #cccccc;
  font-size: 14px;
  margin-right: 20px;
}

/* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img {
  width: 30%;
  float: left;
  margin: 1%;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 15%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 118, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .footer_3 .footer_img .single_footer_img {
    width: 10%;
  }
}

/* line 135, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 146, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img i {
  text-align: center;
  position: absolute;
  top: 41%;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 2;
  opacity: 0;
}

/* line 158, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img:hover:after {
  opacity: 0.5;
}

/* line 161, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .footer_3 .footer_img .single_footer_img:hover i {
  opacity: 1;
}

/* line 168, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info {
  position: relative;
  margin-bottom: 20px;
}

/* line 171, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info:last-child {
  margin-bottom: 0px;
}

/* line 174, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info p {
  margin-bottom: 10px;
}

/* line 176, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .contact_info p span {
  color: #0c2e60;
  font-size: 16px;
}

/* line 182, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .btn {
  color: #fff;
  width: 40px;
  border-radius: 0px;
  height: 40px;
  padding: 0;
  border-radius: 2px !important;
}

/* line 191, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area span.ti-heart {
  font-size: 12px;
  margin: 0px 2px;
}

/* line 195, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .copyright_part_text {
  padding-top: 26px;
  margin-top: 112px;
  border-top: 1px solid #dedede;
}

/* line 199, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .copyright_part_text p {
  font-size: 15px;
}

@media (max-width: 576px) {
  /* line 195, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .copyright_part_text {
    margin-top: 20px;
    text-align: center;
  }
  /* line 206, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .copyright_part_text p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 195, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .copyright_part_text {
    text-align: center;
    margin-top: 20px;
  }
  /* line 213, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .copyright_part_text p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 195, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
  .footer-area .copyright_part_text {
    margin-top: 42px;
    text-align: center;
  }
}

/* line 224, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .copyright_part_text a {
  color: #ff663b;
}

/* line 228, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .input-group {
  border: 1px solid #dedede;
  padding: 5px;
}

/* line 231, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .input-group ::placeholder {
  font-size: 13px;
  color: #999;
}

/* line 239, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}

/* line 244, E:/172 Etrain Education/172_Etrain_Education_html/sass/_footer.scss */
.footer-area .btn_1 {
  margin-top: 0px;
}
@font-face{font-family:'Montserrat-Regular';font-display:auto;src:url("../fonts/Montserrat-Regular.ttf")}@font-face{font-family:'montserrat-Medium';font-display:auto;src:url("../fonts/Montserrat-Medium.ttf")}@font-face{font-family:'Montserrat-Light';font-display:auto;src:url("../fonts/Montserrat-Light.ttf")}@font-face{font-family:'Montserrat-UltraLight';font-display:auto;src:url("../fonts/Montserrat-UltraLight.otf")}@font-face{font-family:'Montserrat-Hairline';font-display:auto;src:url("../fonts/Montserrat-Hairline.otf")}@font-face{font-family:'Montserrat-SemiBoldItalic';font-display:auto;src:url("../fonts/Montserrat-SemiBoldItalic.ttf")}@font-face{font-family:'Montserrat-Bold';font-display:auto;src:url("../fonts/Montserrat-Bold.ttf")}@font-face{font-family:'Montserrat-BoldItalic';font-display:auto;src:url("../fonts/Montserrat-BoldItalic.ttf")}@font-face{font-family:'Montserrat-Semibold';font-display:auto;src:url("../fonts/Montserrat-SemiBold.ttf")}@font-face{font-family:'Montserrat-Extrabold';font-display:auto;src:url("../fonts/Montserrat-ExtraBold.ttf")}@font-face{font-family:'Montserrat-Black';font-display:auto;src:url("../fonts/Montserrat-Black.ttf")}@font-face{font-family:'GreatVibes-Regular';font-display:auto;src:url("../fonts/GreatVibes-Regular.ttf")}*{box-sizing:border-box}body{font-family:'Montserrat-Medium'}body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.3);border-radius:10px;background-color:#F5F5F5}body::-webkit-scrollbar{width:8px;background-color:#ccc}body::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.3);background-color:#ccc}h1,h2,h3,h4,h5,h6,p,em{padding:0;margin:0}a{text-decoration:none}.browserupgrade{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}.show-on-mobile{display:none}footer a{text-align:center}.page-wrapper .main-bg{width:100%;height:100vh;position:fixed;z-index:50;top:0;left:0;background:#000;background-image:url("../img/home/BG-home.jpg");background-size:cover;background-position-x:50%;background-position-y:50%;background-repeat:no-repeat}.page-wrapper .main-bg:after{width:100%;height:100vh;position:fixed;top:0;left:0;background:rgba(0,0,0,0.9);content:"";opacity:0}[data-page='index'] .page-wrapper .main-bg:after,[data-page='home-fibre'] .page-wrapper .main-bg:after,[data-page='gigabox'] .page-wrapper .main-bg:after,[data-page='explore'] .page-wrapper .main-bg:after,[data-page='faqs'] .page-wrapper .main-bg:after,[data-page='get-in-touch'] .page-wrapper .main-bg:after{opacity:0.65}header{position:relative;width:100%;background:#43B02A;z-index:9999;padding:0;margin:0}header .top-bar{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;-moz-justify-content:flex-end;justify-content:flex-end;-webkit-box-align:stretch;-ms-flex-align:stretch;-webkit-align-items:stretch;-moz-align-items:stretch;align-items:stretch;-webkit-align-content:center;-moz-align-content:center;-ms-flex-line-pack:center;align-content:center;background:#43B02A}header .top-bar .social-links,header .top-bar .account-link{list-style-type:none;padding:0.5em 0.5em 0.5em 2em;margin:0}header .top-bar .social-links li,header .top-bar .account-link li{position:relative;display:inline-block;margin-right:0.6em}header .top-bar .social-links li a,header .top-bar .account-link li a{color:#fff;font-size:0.8750em;display:inline-block;text-transform:uppercase;font-family:'Montserrat-UltraLight'}header nav{background:transparent;padding:0;position:relative;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;-moz-justify-content:flex-start;justify-content:flex-start;-webkit-box-align:stretch;-ms-flex-align:stretch;-webkit-align-items:stretch;-moz-align-items:stretch;align-items:stretch;-webkit-align-content:center;-moz-align-content:center;-ms-flex-line-pack:center;align-content:center;border-top-left-radius:120px;border-bottom-left-radius:15px}header nav .logo-wrapper{position:relative}header nav .logo-wrapper:after{top:0;z-index:-9;content:"";width:50px;height:100%;right:-10px;position:absolute;background:#fff}header nav .logo-wrapper a{text-decoration:none;display:block}header nav .logo-wrapper .logo{width:250px}header nav .menu-links{list-style-type:none;padding:0;padding-left:1em;margin-left:0;background-color:#fff;margin:0;-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;-moz-justify-content:flex-start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;transition:all 0.3s ease-in-out}header nav .menu-links li{display:inline-block;margin-left:1em;margin-right:1em}header nav .menu-links li a{color:#53565A;font-family:'montserrat-SemiBold';transition:all 0.3s ease-in-out}header nav .menu-links li a:hover{color:#43b02a}header nav .menu-links li .active{color:#43b02a}header nav .menu-links li:last-child{display:none}header nav .menu-links li:nth-child(8) a{color:#E41C2D}header nav .mobile-burger-wrapper{display:none}.swiper-container-vertical>.swiper-pagination-bullets{right:5em}.swiper-pagination-bullet{width:12px;height:12px;background:#fff;opacity:1}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:10px 0}.swiper-pagination-bullet-active{opacity:1;background:#43b02a}.introduction-slider-wrapper{z-index:100;height:100vh;position:relative}.introduction-slider-wrapper .swiper-container{height:100%}.introduction-slider-wrapper .swiper-container .swiper-wrapper{height:100%}.introduction-slider-wrapper .swiper-container .swiper-wrapper .swiper-slide{z-index:999}.introduction-slider-wrapper .swiper-container .swiper-wrapper .swiper-slide svg{top:5em;height:100%;opacity:0;position:absolute;transition:opacity 0.3s ease-in-out}.introduction-slider-wrapper .swiper-container .swiper-wrapper .swiper-slide svg circle{transition:opacity 0.3s ease-in-out;cursor:pointer}.introduction-slider-wrapper .swiper-container .swiper-wrapper .swiper-slide svg circle:hover{opacity:0.6}.introduction-slider-wrapper .swiper-container .swiper-wrapper .swiper-slide-active{z-index:1000}.introduction-slider-wrapper .swiper-container .swiper-wrapper .swiper-slide-active svg{opacity:1}.introduction-slider-wrapper #introduction{position:relative;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;-webkit-align-content:center;-moz-align-content:center;-ms-flex-line-pack:center;align-content:center}.introduction-slider-wrapper #introduction h3{font-family:'Montserrat-Regular';color:#fff;font-size:1.8em}.introduction-slider-wrapper #introduction .home-text{font-family:'Montserrat-Extrabold';color:#fff;font-size:6em;line-height:1.1;margin-bottom:0.1em;letter-spacing:0.1em;text-shadow:0px 3px 1px #9e8989}.introduction-slider-wrapper #introduction .home-text span{color:#EF373E}.introduction-slider-wrapper #introduction p{font-family:'montserrat-Regular';color:#fff;font-size:1.6em;text-align:center;width:1000px;max-width:100%;margin-bottom:1em}.introduction-slider-wrapper #introduction .cta{font-family:'Montserrat-BoldItalic';display:inline-block;margin-top:2em;position:absolute;bottom:130px;background:#43b02a;color:#fff;transition:all 0.3s ease-in-out;padding:0.6em 1.4em}.introduction-slider-wrapper #introduction .cta:after{width:25px;height:25px;content:"";background:inherit;position:absolute;bottom:-5px;left:50%;transform:translateX(-50%) rotateZ(45deg);z-index:-9}.introduction-slider-wrapper #introduction .cta:hover{background:#EF373E}.introduction-slider-wrapper #introduction .cta:hover:after{background:inherit}.introduction-slider-wrapper #entertainment{position:relative;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;-webkit-align-content:center;-moz-align-content:center;-ms-flex-line-pack:center;align-content:center}.introduction-slider-wrapper #entertainment .img-wrapper{position:absolute;bottom:0;left:-185px;width:60%;max-width:100%}.introduction-slider-wrapper #entertainment .img-wrapper img{width:100%}.introduction-slider-wrapper #entertainment .content{width:80%;text-align:right}.introduction-slider-wrapper #entertainment .content h4{color:#fff;font-size:2em;margin-bottom:1em;font-family:'Montserrat-BoldItalic'}.introduction-slider-wrapper #entertainment .content p{color:#fff;width:450px;margin-left:auto;font-size:1.2em;margin-bottom:0.5em;font-family:'Montserrat-Regular'}.introduction-slider-wrapper #education{position:relative;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;-webkit-align-content:center;-moz-align-content:center;-ms-flex-line-pack:center;align-content:center}.introduction-slider-wrapper #education .img-wrapper{position:absolute;bottom:0;left:-185px;width:60%;max-width:100%}.introduction-slider-wrapper #education .img-wrapper img{width:100%}.introduction-slider-wrapper #education .content{width:80%;text-align:right}.introduction-slider-wrapper #education .content h4{color:#fff;font-size:2em;margin-bottom:1em;font-family:'Montserrat-BoldItalic'}.introduction-slider-wrapper #education .content p{color:#fff;width:450px;margin-left:auto;font-size:1.2em;margin-bottom:0.5em;font-family:'Montserrat-Regular'}.introduction-slider-wrapper #gaming{position:relative;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;-webkit-align-content:center;-moz-align-content:center;-ms-flex-line-pack:center;align-content:center}.introduction-slider-wrapper #gaming .img-wrapper{position:absolute;bottom:0;left:-185px;width:60%;max-width:100%}.introduction-slider-wrapper #gaming .img-wrapper img{width:100%}.introduction-slider-wrapper #gaming .content{width:80%;text-align:right}.introduction-slider-wrapper #gaming .content h4{color:#fff;font-size:2em;margin-bottom:1em;font-family:'Montserrat-BoldItalic'}.introduction-slider-wrapper #gaming .content p{color:#fff;width:450px;margin-left:auto;font-size:1.2em;margin-bottom:0.8em;font-family:'Montserrat-Regular'}.introduction-slider-wrapper #safety{position:relative;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;-webkit-align-content:center;-moz-align-content:center;-ms-flex-line-pack:center;align-content:center}.introduction-slider-wrapper #safety .img-wrapper{position:absolute;bottom:0;left:-120px;width:50%;max-width:100%}.introduction-slider-wrapper #safety .img-wrapper img{width:100%}.introduction-slider-wrapper #safety svg{height:100%;top:3em;position:absolute}.introduction-slider-wrapper #safety .content{width:80%;text-align:right}.introduction-slider-wrapper #safety .content h4{color:#fff;font-size:2em;margin-bottom:1em;font-family:'Montserrat-BoldItalic'}.introduction-slider-wrapper #safety .content p{color:#fff;width:450px;margin-left:auto;font-size:1.2em;margin-bottom:0.8em;font-family:'Montserrat-Regular'}.introduction-slider-wrapper #safety .cta{display:inline-block;margin-top:2em;position:absolute;bottom:130px;background:#43b02a;color:#fff;padding:0.6em 1.4em;transition:all 0.3s ease-in-out}.introduction-slider-wrapper #safety .cta:hover{background:#EF373E}
/*# sourceMappingURL=home.css.map */